@import "./fonts.css";

/* Начальная конфигурация */
body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
/* Начальная конфигурация */

/* Общие элементы */
.container{
    max-width: 960px; /* 940 */
    padding: 0 10px;
    margin:0 auto;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.h-100{
    height: 100%;
}
.deepsky{
    color: #00A4E5
}
.sea_btn{
    width: 148px;
    height: 38px;
    background: #00A4E5;
    border: 1px solid #00A4E5;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    transition: 0.6s;
}
.sea_btn:hover {
    background: #eceef5;
    color: #00A4E5;
}
.row{
    display: flex;
 }
.col-6{
    width: 50%;
}
.col-4{
    width: 33.33333%;
}
/* Общие элементы */


/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 41px 0 71px;
    height: 100vh;
    background: url("../images/bg.png") no-repeat center/cover;

}

.hero_title{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
}
.hero_subtitle{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
}
.hero_scroll{
    border: none;
    background: none;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    cursor: pointer ;
}
/* Hero section */

/* Header section */
.header{
    height: 65px;
    border-bottom:  1px solid #E6E6E6;
}
.header_link{
    display: inline-block;
    margin-left: 37px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.09091px;
    color: #48555B;
    transition: 0.6s;
}
.header_link:hover{
    color: #00A4E5;
}
/* Header section */

/* About section */
.about{
    padding: 57px 0 120px;
}
.about_title{
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
    margin-bottom: 92px;
}
.line1{
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: 0 auto;
    background:#00A4E5 ;
}
.about_header{
    width: 415px;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    margin-bottom: 30px;
}
.about_desc{
    font-size: 13px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
    width: 415px;
}
.about_row{
    margin: 0 -14px;
}
.about_col{
    padding: 0 14px;
}
.about_card{
    height: 225px;
    width: 100%;
    padding: 15px;
}
.about_card1{
    background: url("../images/about1.png") no-repeat center/cover;
}
.about_card2{
    background: url("../images/about2.png");
}
.about_card3{
    background: url("../images/about3.png");
}
.about_card_title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
}
/* About section */

/* Services  section*/
.services{
    padding-bottom: 115px;
}
.services_top{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 76px;
}
.services_title{
    position: relative;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
}
.line2{
    position: absolute;
    width: 50px;
    height: 2px;
    left: 0;
    bottom: -10px;
    background: #00A4E5;
}
.services_all{
    display: flex;
}
.services_desc{
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
    width: 421px;
    margin-right: 32px;
}
.services_row{
    margin: 0 -14px;
}
.services_col{
    padding: 0 14px;
}
.services_card{
    padding: 38px 22px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    transition: 0.6s;
}
.services_card:hover{
    border: 1px solid #00A4E5;
}
.services_card_title{
    width: 300px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.426667px;
    color: #48555B;
    margin: 25px 0 13px;
}
.services_card-desc{
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
/* Services section*/

/* Get-in-touch section */
.get-in-touch{

    height: 499px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../images/get-in-touch.png") no-repeat center/cover;
}
.get-in-touch_title{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
    text-align: center;
    width: 350px;
    margin: 120px 0 35px;
}
/* get-in-touch section */

/* Newsletter section */
.newsletter{
    margin-top:  -1px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:  #171819;;
}
.newsletter_title{
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    margin-right: 70px;
}
.newsletter_email{
    width: 248px;
    height: 38px;
    border: 1px solid #979797;
    padding-left: 16px;
}
.newsletter_email::placeholder{
    color:#48555B ;
}
.newsletter_signup{
    margin-left: -1px;
}
/* Newsletter section */